<div class="container">
  <div class="row">
    <div class="col">
      <h5 style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin-top: 50px; margin-bottom: 50px;" >ジャンル一覧・追加</h5>
      <table class="table">
        <thead>
          <tr class="table-active">
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>