<div class="container">
  <div class="row">
    <div class="col-8">
      <h5 style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin-top: 50px; margin-bottom: 50px;" >ジャンル編集</h5>
      <%= form_with scope: :genre, url:admin_genre_path(@genre), method: :patch, local: true do |f| %>
      <table class="table">
          <tr>
            <td class>ジャンル名</td>

              <%= render "public/shared/error_messages", resource: @genre %>
              <td class="form-group">
                <%= f.text_field :name %>
              </td>

              <td class="form-group">
                <%= f.submit "変更を保存", class: 'btn btn-success' %>
              </td>

          </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>