<div class= "container">
  <div class= "row">
    <div class= 'col-md-2'>
      <p>ここにジャンル検索欄が入ります</p>
    </div>
    <div class= 'col-md-8'>
      <div class= 'mx-auto px-4 py-5' style="width: 90%;">
        <p class= 'text-left'>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
    <div class= 'col-md-2'></div>
  </div>
  <div class= 'row'>
    <div class= 'col-md-2'></div>
    <div class= 'col-md-10'>
    　<h3>新着商品を以下に記述します</h3>
  　</div>
  </div>
</div>