<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="offset-sm-2 " style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin-top: 50px; margin-bottom: 50px;"> 注文情報入力 </h5>
      <div>
        <div class="form-group" style="display: flex">
          <h5 class="col-sm-2" style="font-weight: bold;">支払い方法</h5>
          クレジットカード
          銀行支払い
        </div>
        <div class="form-group" style="display: flex">
          <h5 class="col-sm-2" style="font-weight: bold;">お届け先</h5>
          ご自身の住所
          登録済み住所から選択
          新しいお届け先
        </div>
        確認画面へ進む
      </div>
    </div>
  </div>
</div>