<table>
  <thead>
    <th class="text-center">ジャンル検索</th>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <%= form_with(url:search_path, method: :get, local: true) do |f| %>
          <%= f.hidden_field :model, value: "Genre" %>
          <%= f.hidden_field :content, value: genre.id  %>
          <td>
            <%= f.submit genre.name, class: "btn btn-block btn-secondary text-left" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>